<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homework.io</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/css/aos.min.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <link href="/static/css/my.css" rel="stylesheet">
    <link rel="icon" href="/static/assets/images/surya.ico">
    <style>
    .image-grid {  display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  /* Adjust column width as needed */
        grid-gap: 10px;  /* Add spacing between images */
    }

    .clearfix {  clear: both;
    }
    body {
	background-image: url('/static/assets/images/home.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

</style>

</head>
<body>
<div class="hero">
<nav style="padding-bottom: 0;padding-top: 0">
    <a style="color:black" href="/" id="a1">Homework.io</a>
    <ul>
        

        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false" href="#" style="color:#ebedef"><img src="/static/assets/images/user.png" id="img"></a>

                        <ul class="dropdown-menu" aria-labelledby="dropdown01" style="min-width: 160px; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-85px, 48px);" data-popper-placement="bottom-end">
			    {% if current_user.is_anonymous %}
                            <li style="margin-left: 0"><a class="dropdown-item" href="/login" style="padding-left: 10px">Login</a></li>

                            <li style="margin-left: 0"><a class="dropdown-item" href="/register" style="padding-left: 10px">Register</a></li>

                {% endif %}

                            {% if current_user.is_authenticated %}


                                <li style="margin-left: 0"><a class="dropdown-item" href="/upload" style="padding-left: 10px;padding-right:0">Upload Homework</a></li>

                                <li style="margin-left: 0"><a class="dropdown-item" href="/logout" style="padding-left: 10px">Logout</a></li>
                            {% endif %}


                        </ul>

                    </li>

    </ul>

</nav>





</div>



<ul class="image-grid">  {% for image in images %}
            {% if not request.args.get('date_filter') or request.args.get('date_filter') == image['date'] %}
                <li class="image-item">  <div class="image-container">
                        
                            <h6 style="color:white;padding-top:8px;padding-bottom:8px">{{ image.date }}</h6>
			    <h6 style="color:white;padding-top:8px;padding-bottom:8px">{{ image.subject }}</h6>
                        
                            <img src="{{ url_for('serve_image', id=image.id) }}" alt="Uploaded Image" id="img1">
                        
                    </div>
                </li>

                {% if loop.index % 10 == 0 %}
                    <li class="clearfix"></li>  {% endif %}
            {% endif %}

        {% endfor %}
</ul>



    <!-- Scripts -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/purecounter.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
