<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  <div class="wrapper">
    <form action="/login" method="post">   
      <h2>Login</h2>
        <div class="input-field">
        <input type="text" required name="email">
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" required name="password">
        <label>Enter your password</label>
      </div>

      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="/register">Register</a></p>
        <a href="/">Click here to return to homepage.</a>
      </div>
    </form>
  </div>
</body>
</html>
