<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload File</title>
  <link rel="stylesheet" href="/static/css/styles.css"/>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <style>
    #popup {
      position: fixed;
      top: 70px;
      right: 10px;
      padding: 20px;
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      z-index: 999; /* Ensure it's on top */
      display: none; /* Initially hidden */
    }
  </style>
</head>
<body>



  <div class="wrapper">
    <form action="" method="post" enctype="multipart/form-data">
      <h5 style="color: white">Upload Homework.</h5>
      <h6 style="color:white">We only support .docx,.jpg and .jpeg file formats</h6>
        
        <div class="input-field">
        <input type="text" required name="subject">
        <label>Enter Homework Subject.</label>
      </div>
      <div class="input-field">
        <input type="text" required name="date">
        <label>Enter the date in DD/MM/YY form.</label>
      </div>



      <div class="mb-3">

           <input class="form-control" type="file" id="formFile" name="file">
      </div>



      <button type="submit">Upload Files</button>
      <div class="register">
        <a href="/">Click here to return to homepage.</a>

      </div>


    </form>
  </div>
{% if invalid_extension %}
<div id="popup">Unsupported File Format.</div>
<script>
  const popup = document.getElementById('popup');

  // Show the popup
  popup.style.display = 'block';

  // Hide the popup after 5 seconds (5000 milliseconds)
  setTimeout(function() {
    popup.style.display = 'none';
  }, 5000);
</script>
{% endif %}
{% if file_too_large %}
<div id="popup">File is too large.</div>
<script>
  const popup = document.getElementById('popup');

  // Show the popup
  popup.style.display = 'block';

  // Hide the popup after 5 seconds (5000 milliseconds)
  setTimeout(function() {
    popup.style.display = 'none';
  }, 5000);
</script>
{% endif %}
</body>
</html>
